@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/static/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Plus Jakarta Sans Bold */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/static/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);

  --font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--Slate-100);
  font-family: var(--font-family);
}

p {
  size: 16px;
  color: var(--White);
}
h1 {
  color: var(--White);
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.container {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
}

.inner-container {
  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
  background-color: var(--White);
  border-radius: 20px;
  min-width: 65%;
  max-width: 50%;
  min-height: 70vh;
  max-height: 70vh;
  display: flex;
}

.inner-container-1 {
  width: 50%;
  max-width: 50%;
  height: 70vh;
  max-height: 70vh;
}
.inner-container-2 {
  width: 50%;
  max-width: 50%;
  height: 70vh;
  max-height: 70vh;
  background-color: var(--Slate-900);
  border-radius: 0 0 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    margin: 0 10%;
    color: var(--Slate-500);
  }
}

.inner-container-2-svg {
  max-width: 192px;
  max-height: 192px;
}

.inner-container-1-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  h2 {
    color: var(--Slate-900);
  }
  p {
    color: var(--Slate-500);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  p:hover {
    cursor: pointer;
  }
}

.amount-container {
  padding: 0 7%;
  display: flex;
  flex-direction: column;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid var(--Slate-700);
  border-radius: 8px;
}

.input-container input {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}

#mortgage-amount {
  border: none;
  outline: none; /* Input'un varsayılan odak kenarlığını kaldır */
  min-width: 80%;
  height: 40px;
  border-radius: 8px;
  font-family: var(--font-family);
  padding-left: 10%;
}

.amount-label {
  color: var(--Slate-700);
}

.input-container::before {
  content: "£";
  position: absolute;
  left: 0px;
  font-size: 16px;
  text-align: center;
  width: 5%;
  color: var(--Slate-700);
  background-color: var(--Slate-100);
  padding: 1.8%;
  border-radius: 6px 0 0 6px;
}

.input-container:focus-within {
  border: 2px solid var(--lime);
  border-radius: 8px;
}

.input-container:focus-within::before {
  background-color: var(--lime);
}

.term-rate-container{
  display: flex;
  flex-direction: row;
  padding: 2% 7%;
}

.term-rate-container-inner{
  width: 60%;
}

#mortgage-term {
  border: none;
  outline: none;
  min-width: 40%;
  height: 40px;
  border-radius: 8px;
  font-family: var(--font-family);
  padding-left: 10%;
}

.input-container-term input {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}

.input-container-term {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
  height: 70%;
  box-sizing: border-box;
  border: 2px solid var(--Slate-700);
  border-radius: 8px;
}

.input-container-term::before {
  content: "Year";
  position: absolute;
  right: 0%; 
  font-size: 16px;
  text-align: center;
  width: 7%;
  color: var(--Slate-700);
  background-color: var(--Slate-100);
  padding: 4.8% 6.6%;
  border-radius:  0 6px 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container-term-rate::before {
  content: "Rate";
  position: absolute;
  right: 0%; 
  font-size: 16px;
  text-align: center;
  width: 5%;
  color: var(--Slate-700);
  background-color: var(--Slate-100);
  padding: 4.8% 7.5%;
  border-radius:  0 6px 6px 0;
  
}

.input-container-term:focus-within {
  border: 2px solid var(--lime);
  border-radius: 8px;
}

.input-container-term:focus-within::before {
  background-color: var(--lime);
}

.term-rate-container-inner-2{
  margin-right: 3%;
}

@media screen and (max-width: 375px) {
}
