@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/static/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Plus Jakarta Sans Bold */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/static/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);

  --font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--Slate-100);
  font-family: var(--font-family);
}

p {
  size: 16px;
  color: var(--White);
}
h1 {
  color: var(--White);
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.container {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
}

.inner-container {
  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
  background-color: var(--White);
  border-radius: 20px;
  min-width: 65%;
  max-width: 50%;
  min-height: 70vh;
  max-height: 70vh;
  display: flex;
}

.inner-container-1 {
  width: 50%;
  max-width: 50%;
  height: 70vh;
  max-height: 70vh;
}
.inner-container-2 {
  width: 50%;
  max-width: 50%;
  height: 70vh;
  max-height: 70vh;
  background-color: var(--Slate-900);
  border-radius: 0 0 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    margin: 0 10%;
    color: var(--Slate-500);
  }
}

.inner-container-2-svg {
  max-width: 192px;
  max-height: 192px;
}

.inner-container-1-header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  h2 {
    color: var(--Slate-900);
  }
  p {
    color: var(--Slate-500);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  p:hover {
    cursor: pointer;
  }
}

.amount-container {
  padding: 0 7%;
  display: flex;
  flex-direction: column;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid var(--Slate-700);
  border-radius: 8px;
}

.amounthempty {
  border: 2px solid var(--Red);
}

.amounthempty::after {
  content: "£";
  position: absolute;
  left: 0px;
  font-size: 16px;
  text-align: center;
  width: 5%;
  color: var(--Slate-700);
  color: white;
  background-color: rgb(231, 80, 80);
  padding: 1.8%;
  border-radius: 6px 0 0 6px;
}

.input-container input {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}

#mortgage-amount {
  border: none;
  outline: none; /* Input'un varsayılan odak kenarlığını kaldır */
  min-width: 80%;
  height: 40px;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 700;
  padding-left: 10%;
}

.amount-label {
  color: var(--Slate-700);
}

.input-container::before {
  content: "£";
  position: absolute;
  left: 0px;
  font-size: 16px;
  text-align: center;
  width: 5%;
  color: var(--Slate-700);
  background-color: var(--Slate-100);
  padding: 1.8%;
  border-radius: 6px 0 0 6px;
}

.input-container:focus-within {
  border: 2px solid var(--lime);
  border-radius: 8px;
}

.input-container:focus-within::before {
  background-color: var(--lime);
}

.term-rate-container {
  display: flex;
  flex-grow: 1;
  margin-top: 5%;
  flex-direction: row;
  padding: 2% 7%;
}

.term-rate-container-inner {
  width: 60%;
}

#mortgage-term {
  border: none;
  outline: none;
  min-width: 40%;
  height: 40px;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 700;
  padding-left: 2%;
}

.input-container-term input {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}

.input-container-term {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
  height: 70%;
  box-sizing: border-box;
  border: 2px solid var(--Slate-700);
  border-radius: 8px;
}

.input-container-rate {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
  height: 70%;
  box-sizing: border-box;
  border: 2px solid var(--Slate-700);
  border-radius: 8px;
}
.input-container-rate::before {
  content: "%";
  position: absolute;
  right: 0%;
  font-size: 16px;
  text-align: center;
  width: 7%;
  color: var(--Slate-700);
  background-color: var(--Slate-100);
  padding: 5.2% 6.6%;
  border-radius: 0 6px 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container-rate:focus-within {
  border: 2px solid var(--lime);
  border-radius: 8px;
}

.input-container-rate:focus-within::before {
  background-color: var(--lime);
}

.input-container-term::before {
  content: "Year";
  position: absolute;
  right: 0%;
  font-size: 16px;
  text-align: center;
  width: 7%;
  color: var(--Slate-700);
  background-color: var(--Slate-100);
  padding: 5.2% 6.6%;
  border-radius: 0 6px 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.termempty {
  border: 2px solid var(--Red);
}
.termempty::before {
  background-color: rgb(231, 80, 80);
  color: var(--White);
}

.input-container-term:focus-within {
  border: 2px solid var(--lime);
  border-radius: 8px;
}

.input-container-term:focus-within::before {
  background-color: var(--lime);
}

.term-rate-container-inner-2 {
  margin-right: 3%;
}

.radiobutton-container {
  display: flex;
  flex-grow: 1;
  margin-top: 5%;
  flex-direction: column;
  padding: 0 7%;
}

.radio-container {
  width: 100%;
  color: var(--Slate-900);
  border: 2px solid var(--Slate-700);
  border-radius: 8px;
  margin: 2% 0px;
  height: 40px;
  display: flex;
  align-items: center;
}

.radio-container:hover {
  cursor: pointer;
}
.radio-container label {
  margin-left: 10px; /* Label ile radio button arasında boşluk bırak */
  cursor: pointer; /* İşaretçi üzerine gelince el işareti göster */
}

.checked {
  width: 100%;
  border: 2px solid var(--lime);
  border-radius: 8px;
  margin: 2% 0px;
  background-color: hsla(61, 70%, 52%, 0.473);
}

.checkedempty {
  border: 2px solid var(--Red);
  background-color: hsla(0, 100%, 49%, 0.473);
}

.checked2 {
  width: 100%;
  border: 2px solid var(--lime);
  border-radius: 8px;
  margin: 2% 0px;
  background-color: hsla(61, 70%, 52%, 0.473);
}

.button-container {
  margin-top: 5%;
}
.radio-label {
  color: var(--Slate-700);
}
.button-container-1 {
  flex-grow: 1;
  padding: 2% 0%;
  margin-top: 1%;
  margin-left: 7%;
  display: flex;
  color: var(--Slate-900);
  justify-content: center;
  width: 50%;
  border-radius: 20px;
  background-color: var(--lime);
  div {
    margin-left: 5%;
  }
}

.button-container-1:hover {
  cursor: pointer;
  background-color: hsl(61, 73%, 43%);
}

.inner-container-2-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 0 0 0 90px;
  background-color: var(--Slate-900);
  padding-left: 5%;
  p {
    padding: 0%;
    margin: 0%;
  }
  h2 {
    color: var(--White);
  }
}

.repayment-container {
  background-color: hsl(203, 62%, 8%);
  margin-right: 5%;
  margin-top: 7%;
  padding: 4%;
  border-radius: 8px;
  box-shadow: 0px 3px var(--lime) inset;
  h1 {
    color: var(--lime);
    font-size: 3rem;
    margin-top: 3%;
    height: 8rem;
    border-bottom: 1px solid var(--Slate-900);
  }
  h3 {
    color: var(--White);
  }
  p {
    color: var(--Slate-300);
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0%;
  }
  body {
    margin: 0%;
  }
  .inner-container {
    flex-direction: column;
    width: 100%;
    margin: 0%;
    max-width: 100%;
    max-height: max-content;
    box-shadow: none;
    border-radius: 0%;
  }
  .inner-container-1 {
    width: 100%;
    max-width: 100%;
    padding-bottom: 5%;
  }
  .term-rate-container {
    flex-direction: column;
  }
  .inner-container-1-header {
    flex-direction: column;
    justify-content: left;
    padding: 0 8%;
    align-items: normal;
  }
  .term-rate-container-inner-2 {
    margin: 0%;
  }
  .term-rate-container-inner {
    width: 100%;
  }
  .button-container-1 {
    width: 100%;
    margin-right: 5%;
  }
  .button-container {
    margin-right: 12%;
  }

  .inner-container-2 {
    max-width: 100%;
    width: 100%;
    border-radius: 0%;
    height: max-content;
    max-height: max-content;
    padding: 10% 0;
  }

  .termempty::before {
    color: var(--Slate-700);
    background-color: transparent;
  }
  .input-container::before {
    color: var(--Slate-700);
    background-color: transparent;
  }
  .input-container-rate::before {
    color: var(--Slate-700);
    background-color: transparent;
  }
  .input-container-term::before {
    color: var(--Slate-700);
    background-color: transparent;
  }
  .input-container:focus-within::before {
    color: var(--Slate-700);

    background-color: transparent;
  }
  .input-container-rate:focus-within::before {
    background-color: transparent;
    color: var(--Slate-700);
  }
  .input-container-term:focus-within::before {
    background-color: transparent;
    color: var(--Slate-700);
  }
  .amounthempty::after {
    background-color: var(--White);
    color: var(--Slate-700);
  }
}
