@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/static/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Plus Jakarta Sans Bold */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/static/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);

  --font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--Slate-100);
  font-family: var(--font-family);
}

p {
  size: 16px;
  color: var(--White);
}
h1 {
  color: var(--White);
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.container {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
}

.inner-container {
  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
  background-color: var(--White);
  border-radius: 20px;
  min-width: 65%;
  max-width: 50%;
  min-height: 70vh;
  max-height: 70vh;
  display: flex;
}

.inner-container-1 {
  width: 50%;
  max-width: 50%;
  height: 70vh;
  max-height: 70vh;
}
.inner-container-2 {
  width: 50%;
  max-width: 50%;
  height: 70vh;
  max-height: 70vh;
  background-color: var(--Slate-900);
  border-radius: 0 0 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    margin: 0 10%;
    color: var(--Slate-500);
  }
}

.inner-container-2-svg {
  max-width: 192px;
  max-height: 192px;
}

.inner-container-1-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  h2 {
    color: var(--Slate-900);
  }
  p {
    color: var(--Slate-500);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  p:hover {
    cursor: pointer;
  }
}

.input-container{
    position: relative;
    width: 80%;
    margin: 5%;
}

.currency-symbol{
    font-size: x-large;
    color: var(--Slate-700);
}
#mortgage-amount{
    margin-top: 8px;
    border-color: var(--Slate-300);
    min-width: 90%;
    height: 30px;
    border-radius: 8px;
}

@media screen and (max-width: 375px) {
}
